body{
  background-color: #02010a;
  clear: both;
}

h1{
  text-align: left;
  display: inline;
}

h2{
  margin-top: auto;
}

header{
  width: 100%;
}

.contenido{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

#cabecera{
  background-color: #5b7989;
  color: White;
  padding: 20px 20px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 3px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
}

a:link, a:visited{
  padding: 0 10px;
  text-decoration: underline;
  color: White;
  font-size: 1.5em;
}

header div{
  display: inline-flex;
}

header nav ul{
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: 1px;
}

header nav li {
  display: inline;
  word-spacing: 10px;
}

#MenuPpal{
  float: right;
}

#ImgPpal{
  background-color: #82c3a6;
  padding: 10px 10px;
}

img{
  box-shadow: 2px 2px 2px #02010a;
}

.articulos{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #d5c75f;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

#Img1Efectos {
  width: 33%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
}

#Img2Efectos {
  width: 33%;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
}

#Img3Efectos {
  width: 33%;
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
}

#Img4Efectos {
  width: 33%;
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
}

#Img5Efectos {
  width: 33%;
  /*padding: 15px 15px 15px 15px;
  order: 5;*/
}

#Img6Efectos {
  width: 33%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}


#ImgPaisajes{
  width: 55%;
}

#ImgRetratos{
  width: 41%;
}

#ImgPaisajes img[src="img/Paisajes1.png"]{
  /*Safari*/
  -webkit-transition: all 2s ease;
  /*Mozilla Firefox*/
  -moz-transition: all 2s ease;
  /*Estandar*/
  transition: all 2s ease;
}

#ImgPaisajes img[src="img/Paisajes1.png"]:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}

#ImgRetratos img[src="img/Retratos1.jpg"]{
  /*Safari*/
  -webkit-transition: all 1s ease;
  /*Mozilla Firefox*/
  -moz-transition: all 1s ease;
  /*Estandar*/
  transition: all 1s ease;
}

#ImgRetratos img[src="img/Retratos1.jpg"]:hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}

footer{
  background-color: #c6d5c5;
  font-family: 'Dancing Script', cursive;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  border-radius: 0px 0px 10px 10px;
  clear: both;
}

#Contacto{
  padding: 20px 20px;
  width: 25%;
}

#Terminos{
  padding: 20px 20px;
  width: 25%;
}

#Redes{
  padding: 20px 20px;
  width: 25%;
}

#Derechos{
  padding: 20px 20px;
  width: 25%;
}

footer p{
  margin: auto;
}

footer img[src^=ico]{
  width: 25px;
  height: 25px;
}

@media all and (max-width:420px){
  .contenido{
    margin-left: auto;
    margin-right: auto;
  }

  #cabecera{
    margin: auto;
    padding: auto;
  }

  header{
    margin: auto;
  }

  #TituloPpal h1{
    text-align: justify;
    margin: auto;
  }

  #MenuPpal {
    margin: auto;
    padding: auto;
  }

  #ImgPpal {
    padding: 5px 5px;
  }

  #Img1Efectos {
    width: 100%;
  }

  #Img2Efectos {
    width: 100%;
  }

  #Img3Efectos {
    width: 100%;
  }

  #Img4Efectos {
    width: 100%;
  }

  #Img5Efectos {
    width: 100%;
  }

  #Img6Efectos {
    width: 100%;
  }

  #ImgPaisajes{
    width: 100%;
  }

  #ImgRetratos{
    width: 100%;
  }

  footer{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
  }

  #Contacto{
    padding: 5px 5px;
    width: 100%;
    order: 1;
  }

  #Terminos{
    padding: 5px 5px;
    width: 100%;
    order: 3;
  }

  #Redes{
    padding: 5px 5px;
    width: 100%;
    order: 2;
  }

  #Derechos{
    padding: 5px 5px;
    width: 100%;
    order: 4;
  }
}

@media all and (max-width:899px) and (min-width:421px) {
  .contenido{
    margin-left: auto;
    margin-right: auto;
  }

  #Img1Efectos {
    width: 50%;
  }

  #Img2Efectos {
    width: 50%;
  }

  #Img3Efectos {
    width: 50%;
  }

  #Img4Efectos {
    width: 50%;
  }

  #Img5Efectos {
    width: 50%;
  }

  #Img6Efectos {
    width: 50%;
  }


  footer{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
  }

  #Contacto{
    padding: 15px 15px;
    width: 40%;
  }

  #Terminos{
    padding: 15px 15px;
    width: 40%;
  }

  #Redes{
    padding: 15px 15px;
    width: 40%;
  }

  #Derechos{
    padding: 15px 15px;
    width: 40%;
  }
}

@media all and (min-width:900px){
  .contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
