body{
  background-color: #02010a;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

h1{
  text-align: left;
  display: inline;
  width: 100%
}

h2{
  margin-top: auto;
}

#contenido{
  background-color: #5b7989;
  color: White;
  padding: 20px 20px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 3px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
}

a:link, a:visited{
  padding: 0 10px;
  text-decoration: underline;
  color: White;
  font-size: 1.5em;
}

nav{
  height: 100%;
  margin-left: auto;
  margin-right: 1px;
}

ul{
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  height: 100%
}

li{
  display: inline;
  word-spacing: 10px;
}

#ImgPpal{
  background-color: #82c3a6;
  padding: 10px 10px;
}

img{
  box-shadow: 2px 2px 2px #02010a;
}

.articulos{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  background-color: #d5c75f;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

#ImgPaisajes{
  width: 67%;
}

#ImgRetratos{
  width: 50%;
}

#ImgPaisajes img[src="img/Paisajes1.png"]{
  /*Safari*/
  -webkit-transition: all 2s ease;
  /*Mozilla Firefox*/
  -moz-transition: all 2s ease;
  /*Estandar*/
  transition: all 2s ease;
}

#ImgPaisajes img[src="img/Paisajes1.png"]:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}

#ImgRetratos img[src="img/Retratos1.jpg"]{
  /*Safari*/
  -webkit-transition: all 1s ease;
  /*Mozilla Firefox*/
  -moz-transition: all 1s ease;
  /*Estandar*/
  transition: all 1s ease;
}

#ImgRetratos img[src="img/Retratos1.jpg"]:hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}

footer{
  background-color: #c6d5c5;
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: row;
}

#Contacto, #Terminos, #Redes, #Derechos{
  padding: 20px 20px
}

footer p{
  margin: auto;
}

footer img[src^=ico]{
  width: 25px;
  height: 25px;
}
